#titulo {
    font-size: 3rem; 
    color: rgb(255, 255, 255); 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    font-family: 'Helvetica', Arial, sans-serif;
    margin: -135px 0 20px; 
}

.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: linear-gradient(to bottom, #c53e8b, #8a5171);  */
    background-image: url('../assets/gif_backgound/gif\ background2.gif');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; 
  }
  
#logo {
    width: 400px; 
  }



  #entrar-btn {
    background-color: #3E703B;
    border-color: #3E703B;  
    color: white;             
  }
  
  #entrar-btn:hover {
    background-color: #2e512d; 
    border-color: #2e512d;
  }

  /* .footer {
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    padding: 20px; 
} */

/* .footer-image {
    width: 200px; 
    height: 200px;
} */
